

/* UTILITY */
body{
   font-family: 'Roboto', sans-serif;
}

.container-fluid{
   min-width: 300px;
}

img{
   max-width: 100%;
}

p{
   margin-bottom: 0 !important;
}





/* ---------- 
 MOBILE FIRST 
 ----------- */



/* INIZIO HEADER */

/* MENU-FIXED */
#menu-fixed{
   width: 100%;
   height: 70px;
   background-color: #f8f9fa;
}

#menu-fixed .container-fluid{
   background-color: white;
   padding: 4px 0;
}

#menu-fixed img{
   max-height: 40px;
}

#menu-fixed ._box_img ._mobile{
   width: 65px;
   object-fit: contain;
}

#menu-fixed ._box_input{
   border-radius: 6px;
   background-color: #e5e5e5;
}

#menu-fixed ._box_input i{
   margin-left: 10px;
}

#menu-fixed ._bell{
   color: #ff8f00;
   margin-left: 15px;
}

#menu-fixed input{
   width: 80%;
   padding: 10px;
   border: none;
   background-color: #e5e5e5;
}

/* SIDE-NAV */
#side-nav{
   width: 65px;
   height: 100vh;
   margin-top: 70px;
   background-color: rgb(43, 53, 78);
   background-image: url(../img/sidebar-bg.png);
}

#side-nav ._container{
   width: 40px;
   height: 100%;
}

#side-nav ._setting{
   margin-bottom: 120px;
}



/* INIZIO MAIN */

/* BANNER-BLU */
#banner-blu{
   padding-top: 70px;
   margin-left: 65px;
   background-color: #1b72e8;
   height: auto;
}

._bg_faded_black{
   background: rgba(0, 0, 0, 0.176);
   border-radius: 30px;
   padding: 0 8px;
}

.offcanvas{
   width: 100% !important;
}



/* PROSSIME-CLASSI & F.A.Q. */
#main-dashboard{
   margin-left: 65px;
}

#main-dashboard .container-fluid{
   height: auto;
}

/* TABLE */
#main-dashboard table th{
   font-weight: 400;
}

#main-dashboard table img{
   width: 25px;
   border-radius: 50%;
}


table thead th:nth-child(2),
table tbody td:nth-child(2),
table thead th:nth-child(3),
table tbody td:nth-child(3){
   display: none;
}

table thead tr th{
   text-align: center;
}

table thead tr th:first-child,
table tbody tr td:first-child{
   text-align: left;
}

table tbody tr td{
   width: 110px;
   text-align: center;
}

table tbody tr td:first-child{
   width: auto;
   min-width: 120px;
}







/* -----------
   MEDIA QUERY 
 -----------*/


   /* RISOLUZIONI SOPRA IL MOBILE */
  @media(min-width:768px){

   /* UTILITY PER LE APPARIZIONI SU TABLET*/
   ._hidden_mobile{
      display: block !important;
   }



   /* INIZIO MAIN */

   /* BANNER-BLU */
   #banner-blu ._new_student{
      order: 1;
   }


   /* PROSSIME-CLASSI */
   /* TABLE */
   table thead tr th:nth-child(3),
   table tbody tr td:nth-child(3){
      display: table-cell;
   }

  }





   /* RISOLUZIONI SOPRA IL DESK */
   @media(min-width:992px){

   /* UTILITY PER LE APPARIZIONI SU DESK*/
   ._hidden_mobile_and_tablet{
      display: block !important;
   }

   table thead tr th:nth-child(2),
   table tbody tr td:nth-child(2){
      display: table-cell;
   }



   /* MENU-FIXED */
   #menu-fixed ._box_img ._mobile{
      display: none;
   }

   #menu-fixed ._box_img ._desk{
      width: 130px;
      margin-left: 10px;
   }   

   #menu-fixed ._box_input{
      width: 65%;
   }

   #menu-fixed ._bell{
      margin-left: 0;
   }


   /* SIDE-NAV */
   #side-nav{
      width: 150px;
   }

   #side-nav ._container{
      width: 100%;
   }

   #side-nav ._icon ._home_stats_signal{
      align-items: start !important;
   }



   /* INIZIO MAIN */

   /* BANNER-BLU */
   #banner-blu{
      margin-left: 150px;
   }

   #banner-blu ._plus{
      display: none;
   }

   .offcanvas{
      width: 60% !important;
   }


   /* PROSSIME-CLASSI */
   #main-dashboard{
      margin-left: 150px;
   }

}







