[class^="container"]{
   /* border: 1px solid; */
}





/* UTILITY */
body{
   font-family: 'Roboto', sans-serif;
}

img{
   max-width: 100%;
}





._debug{
   border: 1px solid black;
}











/* INIZIO HEADER */

/* MENU-FIXED */
#menu-fixed{
   width: 100%;
   height: 70px;
   background-color: #f8f9fa;

}

#menu-fixed .container-fluid{
   background-color: white;
   padding: 4px 0;
}

#menu-fixed img{
   max-height: 40px;
}

#menu-fixed ._box_img ._mobile{
   width: 65px;
   object-fit: contain;
}

#menu-fixed ._box_input{
   width: 75%;
   border-radius: 6px;
   background-color: #e5e5e5;
}

#menu-fixed ._box_input i{
   margin-left: 10px;
}

#menu-fixed ._bell{
   color: #ff8f00;
   margin-left: 15px;
}

#menu-fixed input{
   width: 80%;
   padding: 10px;
   border: none;
   background-color: #e5e5e5;
}

/* SIDE-NAV */
#side-nav{
   width: 65px;
   height: 100vh;
   margin-top: 70px;
   background-color: rgb(43, 53, 78);
   background-image: url(../img/sidebar-bg.png);
}

#side-nav ._container{
   width: 40px;
   height: 100%;
}

#side-nav ._setting{
   margin-bottom: 120px;
}



/* INIZIO MAIN */

/* BANNER-BLU */
#banner-blu{
   padding-top: 70px;
   margin-left: 65px;
   background-color: #1b72e8;
   height: auto;
}


._bg_faded_black{
   background: rgba(0, 0, 0, 0.176);
   border-radius: 30px;
   padding: 0 8px;
}
















/* -----------
   MEDIA QUERY 
  -----------*/

  @media(min-width:768px){

   /* INIZIO MAIN */

   /* BANNER-BLU */







  }





@media(min-width:992px){

   /* SPAZIO PER LE APPARIZIONI */
   ._hidden_mobile{
      display: block !important;
   }

   

   /* MENU-FIXED */
   #menu-fixed ._box_img ._mobile{
      display: none;
   }

   #menu-fixed ._box_img ._desk{
      width: 130px;
      margin-left: 10px;
   }   

   #menu-fixed ._box_input{
      width: 65%;
   }

   #menu-fixed ._bell{
      margin-left: 0;
   }


   /* SIDE-NAV */
   #side-nav{
      width: 150px;
   }

   #side-nav ._container{
      width: 100%;
   }

   #side-nav ._icon ._home_stats_signal{
      align-items: start !important;
   }



   /* INIZIO MAIN */

   /* BANNER-BLU */
   #banner-blu{
      margin-left: 150px;
   }

   #banner-blu ._plus{
      display: none;
   }









}







